:root, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    --bs-body-font-size: 1.125rem;
    --bs-link-color-rgb: 218,80,49;
    --bs-primary: #DA5031;
    --lunik-brand-orange: #DA5031;
    --lunik-brand-black: #0D0E14;
    --lunik-brand-teal: #7FA59E;
    --lunik-brand-yellow: #EAC861;
    --lunik-brand-light-yellow: #E3DDC5;
}

/* Colors */

.text-bg-primary {
    background-color: var(--lunik-brand-orange) !important;
}

.nav {
    --bs-nav-link-color: #DA5031;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #DA5031;
}

.border-top {
    --bs-border-color: #C7C7C7 !important;
}

/* Typography */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "neue-haas-grotesk-display", sans-serif;
}

.h2, h2 {
    font-size: 2.25rem;
}

.h3, h3 {
    padding-bottom: 0.9rem;
    font-size: 2rem;
}

.h4, h4 {
    font-size: 1.375rem;
}

.h4.border-top, h4.border-top {
    padding-top: 0.37rem;
}

.h3.border-top, h3.border-top {
    padding-top: 1.36rem;
}

ul.custom {
    padding-left: 1.3rem;
    list-style: none;
}

ul.custom li::before {
    content: "•";
    position: relative;
    top: -0.05rem;
    left: -1.2rem;
    margin-right: -0.4rem;
    font-size: 1rem;
}

/* Main Header */

.main-header {
    height: 90px;
}

.main-header .col.logo {
    flex-grow: 0;
    min-width: 99px;
    background-color: var(--lunik-brand-orange);
    background-image: url("../images/header-bg-paper-texture.png");
    background-blend-mode: multiply;
}

.main-header .col.middle {
    border-left: 2px white solid;
    background-color: var(--lunik-brand-black);
    background-image: url("../images/header-bg-stars.svg"), url("../images/header-bg-grid.svg");
}

.main-header .logo a {
    width: 100%;
    height: 100%;
}

.header-logo {
    margin: 0 6px 6px 0;
}

.main-header .nav-pills .nav-link {
    justify-content: center;
    padding: 0;
    border-radius: 0;
}

.main-header .nav-pills li {
    position: relative;
    width: 99px;
    border-left: 2px white solid;
}

.main-header .nav-pills a.language,
.main-header .nav-pills a.contact,
.main-header .nav-pills a.cart {
    background-image: url("../images/header-bg-paper-texture.png");
    background-blend-mode: multiply;
}

.main-header .nav-pills a.language {
    background-color: var(--lunik-brand-teal);
}

.main-header .nav-pills a.contact {
    background-color: var(--lunik-brand-yellow);
    background-position: left -100px;
}

.main-header .nav-pills a.cart {
    background-color: var(--lunik-brand-light-yellow);
    background-position: left -200px;
}

.main-header .nav-pills .badge {
    position: absolute;
    top: 23px;
    right: 23px;
    border: 2px solid var(--lunik-brand-light-yellow);
    font-size: 0.75rem;
}

@media (max-width: 576px) {
    
    .main-header-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .main-header {
        height: 58px;
    }
    
    .main-header .col.logo {
        min-width: 58px;
    }

    .header-logo {
        width: 46px;
    }

    .main-header .nav-pills li {
        width: 58px;
    }

    .main-header .nav img {
        width: 22px;
    }

    .main-header .nav-pills .badge {
        top: 11px;
        right: 6px;
        font-size: 0.65rem;
    }
}

/* Breadcrumb */

.breadcrumb {
    margin-bottom: 0;
    padding: 1.63rem;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.875rem;
}

.breadcrumb a {
    color: #A8A8A8;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.3rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0.3rem;
    color: #A8A8A8;
}

.breadcrumb-item.active {
    color: unset;
}

/* Customizer */

.customizer-main-image {
    position: relative;
    flex: 0 0 auto;
    width: 64%;
}

.customizer-main-image .main-image-container {
    position: relative;
    aspect-ratio: 1 / 0.71;
    overflow: hidden;
    background-color: #F4F4F4;
}

.customizer h2 {
    margin-top: -0.4rem;
    margin-bottom: 2.8rem;
}

.color-label {
    font-size: 1.125rem;
    color: #A8A8A8;
}

.customizer .save-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.3cqi;
    right: 2.3cqi;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FAFAFA;
    cursor: pointer;
    z-index: 99;
}

.customizer .save-button:hover { background-color: #FFF; }

.customizer .nav-arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    border: 0;
    background: 0;
    z-index: 99;
}

.customizer .nav-arrow:hover { opacity: .5; }

.nav-arrow.left {
    left: 4cqi;
}

.nav-arrow.right {
    right: 3.8cqi;
}

.customizer .main-image-thumbnails {
    padding-bottom: 3.2rem;
    background-color: #F4F4F4;
}

.customizer .main-image-thumbnails .thumb {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.customizer .main-image-thumbnails .thumb img {
    cursor: pointer;
}

#loading-overlay {
    position: absolute;
}

#loading-overlay.hidden {
    display: none;
}

/* Customizer Custom Select */

.custom-select {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: unset;
    padding-left: 0;
    padding-top: .2rem;
    font-size: 1.375rem;
    font-weight: 700 !important;
    font-family: "neue-haas-grotesk-display", sans-serif;
    border: none;
    background: none;
}

.custom-select .selection {
    flex: 1 1 auto;
}

.custom-select .arrow:after {
    content: url(../images/custom_select_icon.svg);
    margin-left: 10px;
}

.custom-select select {
    all: revert;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

/* Customizer Swatches */

.color-swatch {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.25rem;
    margin-bottom: 2.75rem;
}

.color-swatch div {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: gray;
    border-radius: 50%;
    font-size: 0;
    background-image: url("../images/swatch_cordura_bg.jpg");
}

.color-swatch div:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    mix-blend-mode: overlay;
}

.color-swatch [data-color="black"]:before {
    background-color: #191919;
}

.color-swatch [data-color="white"]:before {
    background-color: #E8E8E8;
}

.color-swatch [data-color="gray"]:before {
    background-color: #727272;
}

.color-swatch [data-color="beige"]:before {
    background-color: #A0874E;
}

.color-swatch [data-color="red"]:before {
    background-color: #D61642;
}

.color-swatch [data-color="olive"]:before {
    background-color: #445330;
}

.color-swatch [data-color="orange"]:before {
    background-color: #DD5828;
}

.color-swatch [data-color="yellow"]:before {
    background-color: #C8DB3A;
}

.color-swatch [data-color="royal blue"]:before {
    background-color: #133683;
}

.color-swatch [data-color="navy"]:before {
    background-color: #152750;
}

.color-swatch [data-color="fuchsia"]:before {
    background-color: #95216D;
}

.color-swatch .selected {
    box-shadow: 0px 0px 0px 2px rgb(255 255 255), 0px 0px 0px 4px rgb(112, 112, 112);
}

/* Customizer Saved Designs Icons */

#saved-configurations {
    margin-top: 1.56rem;
}

.saved-config-thumbnail {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 54px;
    height: 37px;
    margin-right: 1.85rem;
    margin-bottom: 1.25rem;
}

.saved-config-thumbnail .delete-config {
    position: absolute;
    display: none;
    top: -8px;
    right: -6px;
    width: 18px;
    height: 18px;
    padding-left: 0.03rem;
    line-height: 0.95rem;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    background: #222222;
}

.saved-config-thumbnail:hover .delete-config {
    display: unset;
}

/* Customizer Handlebar Bag Icon */

.handlebar_bag_icon .cls-1 {
    fill: #d1d1d1;
    stroke: #fff;
}

.handlebar_bag_icon .cls-2 {
    fill: #d1d1d1;
}

.handlebar_bag_icon .cls-3 {
    stroke: none;
}

.handlebar_bag_icon .red { fill: #F23661; }
.handlebar_bag_icon .cyan { fill: #4BD4D9; }
.handlebar_bag_icon .yellow { fill: #FAC95B; }
.handlebar_bag_icon .light-gray { fill: #D1D1D1; }
.handlebar_bag_icon .black { fill: #222222; }

@media (max-width: 1080px) {
    .customizer .row.g-5 {
        --bs-gutter-x: 1.5rem;
    }

    .customizer .h4, .customizer h4 {
        font-size: 1.075rem;
    }

    .customizer .h2, h2 {
        font-size: 1.95rem;
    }

    .custom-select {
        font-size: 1.075rem;
    }

    .customizer .selected-swatch {
        font-size: 0.925rem;
    }
}

@media (max-width: 721px) {
    .customizer-main-image {
        width: 100%;
    }
}

/* Purchase Options */

.purchase-options {
    padding-top: 2rem;
}

.purchase-options .price {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.375rem;
    font-weight: 600;
}

.purchase-options .quantity-container {
    margin-top: -1.7rem;
}

.purchase-options .quantity {
    font-size: 1.3rem;
}

.purchase-options .quantity-container span {
    color: #A8A8A8;
    font-size: 0.8125rem;
}

.purchase-options .btn-primary {
    white-space: nowrap;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.delivery {
    font-size: 0.9375rem;
}

/* Image Gallery */

@media (max-width: 992px) {

    .img-square-container {
        aspect-ratio: 1 / 1;
        overflow: hidden;
        background: teal;
    }
}

/* Bike Attachment */

.bike-attachment-container {
    background-color: #EEEEEE;
}

.bike-attachment-container.p-5 {
    padding: 4.8rem !important;
    padding-top: 2rem !important;
}

.bike-attachment .gx-5 {
    --bs-gutter-x: 5rem;
}

.bike-attachment h3 {
    margin-left: -1.9rem;
    font-size: 1.75rem;
}

.bike-attachment p {
    margin-bottom: 0;
    font-size: 0.8125rem;
}

.bike-attachment strong {
    color: var(--lunik-brand-orange);
}

.bike-attachment .g-4,
.bike-attachment .gy-4 {
    --bs-gutter-x: 2.2rem;
}

.bike-attachment .dashed-border {
    position: relative;
}

.bike-attachment .dashed-border::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background-image: url("../images/dashed-line1.svg");
}

@media (max-width: 992px) {
    .bike-attachment-container.p-5 {
        padding-bottom: 1.8rem !important;
    }
    
    .bike-attachment .column1,
    .bike-attachment .column2,
    .bike-attachment .column3 {
        padding-bottom: 3rem;
    }
    
    .bike-attachment .column3::before {
        background: none;
    }
}

@media (max-width: 767px) {
    .bike-attachment .column2::before {
        background: none;
    }
}

/* Buttons */

.btn {
    border-radius: 0;
}

.btn-group-lg>.btn, .btn-lg {
    --bs-btn-padding-y: 0.88rem;
    --bs-btn-padding-x: 1.6rem;
    font-family: "neue-haas-grotesk-display", sans-serif;
    --bs-btn-font-size: 1.375rem;
    font-weight: 700;
    border-radius: 0;
}

.btn-primary {
    --bs-btn-color: var(--lunik-brand-light-yellow);
    --bs-btn-bg: var(--lunik-brand-orange);
    --bs-btn-border-color: var(--lunik-brand-orange);
    --bs-btn-hover-color: var(--lunik-brand-light-yellow);
    --bs-btn-hover-bg: #C64A2E;
    --bs-btn-hover-border-color: #C64A2E;
    --bs-btn-focus-shadow-rgb: 257, 106, 76;
    --bs-btn-active-color: var(--lunik-brand-light-yellow);
    --bs-btn-active-bg: #B43C21;
    --bs-btn-active-border-color: #B43C21;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--lunik-brand-light-yellow);
    --bs-btn-disabled-bg: var(--lunik-brand-orange);
    --bs-btn-disabled-border-color: var(--lunik-brand-orange);
}

/* Forms */

.form-control {
    border-radius: 0;
    border-color: #707070;
}

/* Header Dropdown Menu */

.dropdown-parent {
    cursor: pointer;
}

.dropdown-menu-custom {
    display: none;
    position: absolute;
    left: -1rem;
    padding: 1.4rem 2rem 1.4rem 2rem;
    font-size: 1rem;
    border: 2px solid white;
    background-color: var(--lunik-brand-black);
}

.dropdown-parent:hover .dropdown-menu-custom {
	display: block;
}

.dropdown-menu-custom a {
    line-height: 2rem;
    color: #7E7E7E;
    text-decoration: none;
}

.dropdown-menu-custom a:hover {
    color: #b8b8b8;
}

.dropdown-triangle {
    position: absolute;
    top: -0.8rem;
    left: 2.9rem;
}

/* Footer */

footer {
    font-size: 0.8125rem;
    color: #7E7E7E;
}

.footer-bg {
    width: 100%;
    background-color: var(--lunik-brand-black);
    background-image: url(../images/header-bg-grid.svg);
}

footer .gx-4 {
    --bs-gutter-x: 1.3rem;
}

footer.px-5 {
    padding-right: 2.4375rem !important;
    padding-left: 2.4375rem !important;
}

footer.py-5 {
    padding-top: 2.4375rem !important;
    padding-bottom: 2.4375rem !important;
}

footer a {
    color: #7E7E7E;
    text-decoration: none;
}

footer a:hover {
    color: #a9a9a9;
}

footer h5 {
    padding-bottom: 0.6rem;
    font-size: 1.5625rem;
    font-weight: 300;
    line-height: 1.1rem;
}

footer li {
    line-height: 1rem;
}

footer .rocket-logo {
    margin-top: -17px;
    margin-bottom: -17px;
}

footer .col.logo1 {
    width: 19%;
}

footer .col.contact {
    width: 23%;
}

footer .col.logo2 {
    width: 18%;
}

@media (max-width: 1040px) {
    footer .col.logo1 {
        width: 15%;
    }

    footer .col.contact {
        width: 26%;
    }

    footer .col.shop {
        width: 20%;
    }

    footer .col.support {
        width: 25%;
    }

    footer .col.logo2 {
        width: 14%;
    }
}

@media (max-width: 929px) {
    footer {
        font-size: 0.7125rem;
    }

    footer.py-5 {
        padding-top: 1.8375rem !important;
        padding-bottom: 1.8375rem !important;
    }

    footer.px-5 {
        padding-right: 1.8375rem !important;
        padding-left: 1.8375rem !important;
    }
    
    footer .gx-4 {
        --bs-gutter-x: 1rem !important;
    }

    footer.gx-5 {
        --bs-gutter-x: 1.7rem !important;
    }
    
    footer h5 {
        padding-bottom: 0.2rem;
        font-size: 1.2625rem;
    }
    
    footer .footer-logo {
        width: 80px;
    }

    footer .footer-icon {
        height: 74px;
    }

    footer .rocket-logo {
        height: 90px;
    }

}

@media (max-width: 780px) {
    footer .contact .row,
    footer .shop .row,
    footer .support .row {
        flex-direction: column;
    }

    footer .footer-icon {
        margin-bottom: 1rem;
    }
}

@media (max-width: 576px) {
    .footer-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    footer {
        margin-left: 0 !important;
        margin-right: 0 !important;
        flex-direction: column;
    }

    footer .contact .row,
    footer .shop .row,
    footer .support .row {
        flex-direction: row;
    }

    footer .col.logo1,
    footer .col.contact,
    footer .col.shop,
    footer .col.support,
    footer .col.logo2 {
        width: auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    footer .col.logo1 {
        padding-bottom: 1rem;
    }

    footer.px-5 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    footer.py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    footer .footer-logo {
        margin-bottom: 0.5rem;
    }
    
    footer .rocket-logo {
        margin: unset;
    }
}

/* Product Views Carousel */

#product-views > div {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#product-views > div.hidden {
    opacity: 0;
}

/* Product Views */

#front-view,
#front_profile1-view,
#back-view,
#side1-view,
#back_profile1-view,
#back_profile2-view,
#side2-view,
#front_profile2-view,
#front_extended-view {
    /* display: none !important; */
}

#product-views-container {
    padding-top: 2.7cqi;
}

#product-views {
    position: relative;
    width: 466px;
    height: 297px;
}

#product-views > div {
    position: absolute;
}

.product-component {
    position: absolute;
    z-index: 1;
}

.product-component img {
    pointer-events: none;
    width: 100%;
}

#front-view { z-index: 1; }
#front_profile1-view { z-index: 2; }
#side1-view { z-index: 3; }
#back_profile1-view { z-index: 4; }
#back-view { z-index: 5; }
#back_profile2-view { z-index: 6; }
#side2-view { z-index: 7; }
#front_profile2-view { z-index: 8; }
#front_extended-view { z-index: 9; }

/* Front View */

#front-view {
    width: 466px;
    height: 290px;
    background-image: url("../images/products/hbar_bag/bg_front.png");
    background-size: 100%;
}

#front-view:after {
    content: "";
    display: block;
    position: absolute;
    top: 261px;
    left: 32px;
    width: 413.5px;
    height: 33.5px;
    background-image: url("../images/products/hbar_bag/shadow_front.png");
    background-size: 100%;
    z-index: -1;
}

/* Front View Images */

#front-view div:nth-child(1) { /* panel top left */
    top: 10px;
    left: 42.5px;
    width: 104px;
    height: 160.5px;
}

#front-view div:nth-child(2) { /* panel top center */
    top: 10px;
    left: 145px;
    width: 182px;
    height: 161.44px;
}

#front-view div:nth-child(3) { /* panel top right */
    top: 10px;
    left: 321px;
    width: 107px;
    height: 162.5px;
}

#front-view div:nth-child(4) { /* panel bottom left */
    top: 161px;
    left: 32px;
    width: 114.5px;
    height: 115.5px;
}

#front-view div:nth-child(5) { /* panel bottom center */
    top: 183px;
    left: 144px;
    width: 180.7px;
    height: 91.09px;
}

#front-view div:nth-child(6) { /* panel bottom right */
    top: 158px;
    left: 320px;
    width: 119px;
    height: 115.5px;
}

#front-view div:nth-child(7) { /* side left */
    top: 80px;
    left: 10px;
    width: 28px;
    height: 193.5px;
}

#front-view div:nth-child(8) { /* side right */
    top: 89px;
    left: 435px;
    width: 23.5px;
    height: 180px;
}

#front-view div:nth-child(9) { /* extension */
    top: 19px;
    left: 9px;
    width: 450.5px;
    height: 73px;
}

#front-view div:nth-child(10) { /* straps top */
    top: 9px;
    left: 70px;
    width: 330px;
    height: 160.5px;
}

#front-view div:nth-child(11) { /* straps bottom */
    top: 139px;
    left: 0px;
    width: 458.5px;
    height: 149.5px;
}

#front-view div:nth-child(12) { /* accents */
    top: 0px;
    left: 30px;
    width: 410.5px;
    height: 185px;
}

/* Front Profile 1 View */

#front_profile1-view {
    left: 16px;
    width: 427.5px;
    height: 297px;
    background-image: url("../images/products/hbar_bag/bg_front_profile1.png");
    background-size: 100%;
}

#front_profile1-view:after {
    content: "";
    display: block;
    position: absolute;
    top: 229px;
    left: 40px;
    width: 367px;
    height: 75px;
    background-image: url("../images/products/hbar_bag/shadow_front_profile1.png");
    background-size: 100%;
    z-index: -1;
}

/* Front Profile 1 View Images */

#front_profile1-view div:nth-child(1) { /* panel top left */
    top: 6px;
    left: 8.8px;
    width: 143px;
    height: 155px;
}

#front_profile1-view div:nth-child(2) { /* panel top center */
    top: 9px;
    left: 68.5px;
    width: 196px;
    height: 165px;
}

#front_profile1-view div:nth-child(3) { /* panel top right */
    top: 12px;
    left: 196.1px;
    width: 153.5px;
    height: 168px;
}

#front_profile1-view div:nth-child(4) { /* panel bottom left */
    top: 170px;
    left: 18px;
    width: 111px;
    height: 93.5px;
}

#front_profile1-view div:nth-child(5) { /* panel bottom center */
    top: 175px;
    left: 79.5px;
    width: 153.5px;
    height: 102.5px;
}

#front_profile1-view div:nth-child(6) { /* panel bottom right */
    top: 98px;
    left: 203px;
    width: 147px;
    height: 191px;
}

#front_profile1-view div:nth-child(7) { /* side left */
    display: none;
}

#front_profile1-view div:nth-child(8) { /* side right */
    top: 79px;
    left: 292.3px;
    width: 134.5px;
    height: 207.5px;
}

#front_profile1-view div:nth-child(9) { /* extension */
    top: 21px;
    left: 9px;
    width: 416.5px;
    height: 78px;
}

#front_profile1-view div:nth-child(10) { /* straps top */
    top: 5px;
    left: 15px;
    width: 330.5px;
    height: 171.5px;
}

#front_profile1-view div:nth-child(11) { /* straps bottom */
    top: 151.4px;
    left: 9px;
    width: 391.5px;
    height: 145px;
}

#front_profile1-view div:nth-child(12) { /* accents */
    top: 0px;
    left: 1px;
    width: 404.5px;
    height: 193px;
}

/* Side 1 View */

#side1-view {
    top: -8px;
    left: 91px;
    width: 275px;
    height: 297.5px;
    background-image: url("../images/products/hbar_bag/bg_side1.png");
    background-size: 100%;
}

#side1-view:after {
    content: "";
    display: block;
    position: absolute;
    top: 269px;
    left: 39px;
    width: 208px;
    height: 38.5px;
    background-image: url("../images/products/hbar_bag/shadow_side1.png");
    background-size: 100%;
    z-index: -1;
}

/* Side 1 View Images */

#side1-view div:nth-child(1) { /* panel top left */
    top: 4px;
    left: 49px;
    width: 170.5px;
    height: 58px;
}

#side1-view div:nth-child(2) { /* panel top center */
    top: 6px;
    left: 28px;
    width: 190px;
    height: 164px;
}

#side1-view div:nth-child(3) { /* panel top right */
    top: 13px;
    left: 59px;
    width: 178px;
    height: 45px;
}

#side1-view div:nth-child(4) { /* panel bottom left */
    display: none;
}

#side1-view div:nth-child(5) { /* panel bottom center */
    display: none;
}

#side1-view div:nth-child(6) { /* panel bottom right */
    top: 92px;
    left: 35px;
    width: 219.5px;
    height: 200.5px;
}

#side1-view div:nth-child(7) { /* side left */
    display: none;
}

#side1-view div:nth-child(8) { /* side right */
    top: 91.7px;
    left: 42.6px;
    width: 205px;
    height: 197.5px;
}

#side1-view div:nth-child(9) { /* extension */
    top: 25px;
    left: 50px;
    width: 190.5px;
    height: 71px;
}

#side1-view div:nth-child(10) { /* straps top */
    top: 2.5px;
    left: 17px;
    width: 223px;
    height: 158px;
}

#side1-view div:nth-child(11) { /* straps bottom */
    top: 68px;
    left: 0px;
    width: 275px;
    height: 229px;
}

#side1-view div:nth-child(12) { /* accents */
    top: 0px;
    left: 20.6px;
    width: 223px;
    height: 182.5px;
}

/* Back Profile 1 View */

#back_profile1-view {
    left: 20px;
    width: 421px;
    height: 293px;
    background-image: url("../images/products/hbar_bag/bg_back_profile1.png");
    background-size: 100%;
}

#back_profile1-view:after {
    content: "";
    display: block;
    position: absolute;
    top: 237px;
    left: 33px;
    width: 369px;
    height: 63px;
    background-image: url("../images/products/hbar_bag/shadow_back_profile1.png");
    background-size: 100%;
    z-index: -1;
}

/* Back Profile 1 View Images */

#back_profile1-view div:nth-child(1) { /* panel top left */
    top: 6px;
    left: 296px;
    width: 108px;
    height: 71.5px;
}

#back_profile1-view div:nth-child(2) { /* panel top center */
    top: 9px;
    left: 156px;
    width: 183.5px;
    height: 73px;
}

#back_profile1-view div:nth-child(3) { /* panel top right */
    top: 9px;
    left: 87px;
    width: 134.5px;
    height: 75.5px;
}

#back_profile1-view div:nth-child(4) { /* panel bottom left */
    top: 73px;
    left: 310px;
    width: 110px;
    height: 187px;
}

#back_profile1-view div:nth-child(5) { /* panel bottom center */
    top: 77.7px;
    left: 209.1px;
    width: 147.5px;
    height: 194.5px;
}

#back_profile1-view div:nth-child(6) { /* panel bottom right */
    top: 82px;
    left: 10px;
    width: 227px;
    height: 200px;
}

#back_profile1-view div:nth-child(7) { /* side left */
    top: 72px;
    left: 410px;
    width: 10.5px;
    height: 70.5px;
}

#back_profile1-view div:nth-child(8) { /* side right */
    top: 83px;
    left: 8px;
    width: 140.5px;
    height: 196px;
}

#back_profile1-view div:nth-child(9) { /* extension */
    top: 20px;
    left: 6px;
    width: 414.5px;
    height: 66.5px;
}

#back_profile1-view div:nth-child(10) { /* straps top */
    top: 6px;
    left: 83px;
    width: 302px;
    height: 67.5px;
}

#back_profile1-view div:nth-child(11) { /* straps bottom */
    top: 58.8px;
    left: 35px;
    width: 384px;
    height: 234.5px;
}

#back_profile1-view div:nth-child(12) { /* accents */
    top: 0px;
    left: 0px;
    width: 411.5px;
    height: 163.5px;
}

/* Back View */

#back-view {
    width: 467.5px;
    height: 286px;
    background-image: url("../images/products/hbar_bag/bg_back.png");
    background-size: 100%;
}

#back-view:after {
    content: "";
    display: block;
    position: absolute;
    top: 253px;
    left: 35px;
    width: 401.5px;
    height: 34.5px;
    background-image: url("../images/products/hbar_bag/shadow_back.png");
    background-size: 100%;
    z-index: -1;
}

/* Back View Images */

#back-view div:nth-child(1) { /* panel top left */
    top: 8px;
    left: 318px;
    width: 106.5px;
    height: 73px;
}

#back-view div:nth-child(2) { /* panel top center */
    top: 17px;
    left: 144px;
    width: 179.5px;
    height: 63.5px;
}

#back-view div:nth-child(3) { /* panel top right */
    top: 8px;
    left: 45px;
    width: 101px;
    height: 71.5px;
}

#back-view div:nth-child(4) { /* panel bottom left */
    top: 79px;
    left: 321px;
    width: 116.5px;
    height: 190.5px;
}

#back-view div:nth-child(5) { /* panel bottom center */
    top: 79px;
    left: 146px;
    width: 179px;
    height: 193.5px;
}

#back-view div:nth-child(6) { /* panel bottom right */
    top: 77px;
    left: 32px;
    width: 116px;
    height: 192.5px;
}

#back-view div:nth-child(7) { /* side left */
    top: 77px;
    left: 433px;
    width: 25.5px;
    height: 186px;
}

#back-view div:nth-child(8) { /* side right */
    top: 77px;
    left: 12.7px;
    width: 21.5px;
    height: 187px;
}

#back-view div:nth-child(9) { /* extension */
    top: 17px;
    left: 10px;
    width: 452.5px;
    height: 62px;
}

#back-view div:nth-child(10) { /* straps top */
    top: 7px;
    left: 71px;
    width: 323.5px;
    height: 59px;
}

#back-view div:nth-child(11) { /* straps bottom */
    top: 58.8px;
    left: 7px;
    width: 454.5px;
    height: 219.5px;
}

#back-view div:nth-child(12) { /* accents */
    top: 0px;
    left: 32px;
    width: 404px;
    height: 79.5px;
}

/* Back Profile 2 View */

#back_profile2-view {
    left: 27px;
    width: 422.5px;
    height: 296px;
    background-image: url("../images/products/hbar_bag/bg_back_profile2.png");
    background-size: 100%;
}

#back_profile2-view:after {
    content: "";
    display: block;
    position: absolute;
    top: 238px;
    left: 31px;
    width: 365.5px;
    height: 62px;
    background-image: url("../images/products/hbar_bag/shadow_back_profile2.png");
    background-size: 100%;
    z-index: -1;
}

/* Back Profile 2 View Images */

#back_profile2-view div:nth-child(1) { /* panel top left */
    top: 9px;
    left: 14px;
    width: 104px;
    height: 69.5px;
}

#back_profile2-view div:nth-child(2) { /* panel top center */
    top: 17px;
    left: 79px;
    width: 150.5px;
    height: 65.5px;
}

#back_profile2-view div:nth-child(3) { /* panel top right */
    top: 7px;
    left: 204px;
    width: 128px;
    height: 77px;
}

#back_profile2-view div:nth-child(4) { /* panel bottom left */
    top: 75px;
    left: 0px;
    width: 119px;
    height: 188px;
}

#back_profile2-view div:nth-child(5) { /* panel bottom center */
    top: 78px;
    left: 66.9px;
    width: 155.5px;
    height: 194.5px;
}

#back_profile2-view div:nth-child(6) { /* panel bottom right */
    top: 83px;
    left: 190px;
    width: 221px;
    height: 198px;
}

#back_profile2-view div:nth-child(7) { /* side left */
    top: 74px;
    left: 2px;
    width: 7.5px;
    height: 55px;
}

#back_profile2-view div:nth-child(8) { /* side right */
    top: 79px;
    left: 279px;
    width: 130.5px;
    height: 199px;
}

#back_profile2-view div:nth-child(9) { /* extension */
    top: 16px;
    left: 1px;
    width: 414px;
    height: 67.5px;
}

#back_profile2-view div:nth-child(10) { /* straps top */
    top: 6px;
    left: 30px;
    width: 296px;
    height: 78px;
}

#back_profile2-view div:nth-child(11) { /* straps bottom */
    top: 58px;
    left: 8px;
    width: 379.5px;
    height: 231.5px;
}

#back_profile2-view div:nth-child(12) { /* accents */
    top: 0px;
    left: 5px;
    width: 417px;
    height: 159.5px;
}

/* Side 2 View */

#side2-view {
    top: -7px;
    left: 95px;
    width: 277px;
    height: 298px;
    background-image: url("../images/products/hbar_bag/bg_side2.png");
    background-size: 100%;
}

#side2-view:after {
    content: "";
    display: block;
    position: absolute;
    top: 275px;
    left: 31px;
    width: 202.5px;
    height: 33.5px;
    background-image: url("../images/products/hbar_bag/shadow_side2.png");
    background-size: 100%;
    z-index: -1;
}

/* Side 2 View Images */

#side2-view div:nth-child(1) { /* panel top left */
    top: 6px;
    left: 50px;
    width: 147.5px;
    height: 37px;
}

#side2-view div:nth-child(2) { /* panel top center */
    top: 7px;
    left: 59px;
    width: 193.5px;
    height: 156.5px;
}

#side2-view div:nth-child(3) { /* panel top right */
    top: 14px;
    left: 44px;
    width: 86px;
    height: 47.5px;
}

#side2-view div:nth-child(4) { /* panel bottom left */
    top: 94px;
    left: 22px;
    width: 217px;
    height: 198.5px;
}

#side2-view div:nth-child(5) { /* panel bottom center */
    display: none;
}

#side2-view div:nth-child(6) { /* panel bottom right */
    display: none;
}

#side2-view div:nth-child(7) { /* side left */
    top: 89px;
    left: 29px;
    width: 202px;
    height: 202px;
}

#side2-view div:nth-child(8) { /* side right */
    display: none;
}

#side2-view div:nth-child(9) { /* extension */
    top: 19px;
    left: 42px;
    width: 195.5px;
    height: 75.5px;
}

#side2-view div:nth-child(10) { /* straps top */
    top: 5.5px;
    left: 44.1px;
    width: 225.5px;
    height: 165.5px;
}

#side2-view div:nth-child(11) { /* straps bottom */
    top: 50px;
    left: 0px;
    width: 277px;
    height: 247px;
}

#side2-view div:nth-child(12) { /* accents */
    top: 0px;
    left: 39px;
    width: 220px;
    height: 180px;
}

/* Front Profile 2 View */

#front_profile2-view {
    left: 20px;
    width: 425px;
    height: 298px;
    background-image: url("../images/products/hbar_bag/bg_front_profile2.png");
    background-size: 100%;
}

#front_profile2-view:after {
    content: "";
    display: block;
    position: absolute;
    top: 231px;
    left: 27px;
    width: 362.5px;
    height: 73px;
    background-image: url("../images/products/hbar_bag/shadow_front_profile2.png");
    background-size: 100%;
    z-index: -1;
}

/* Front Profile 2 View Images */

#front_profile2-view div:nth-child(1) { /* panel top left */
    top: 10px;
    left: 87px;
    width: 155px;
    height: 164.5px;
}

#front_profile2-view div:nth-child(2) { /* panel top center */
    top: 9px;
    left: 165px;
    width: 191px;
    height: 161px;
}

#front_profile2-view div:nth-child(3) { /* panel top right */
    top: 7px;
    left: 270.7px;
    width: 145.5px;
    height: 152.5px;
}

#front_profile2-view div:nth-child(4) { /* panel bottom left */
    top: 96px;
    left: 100px;
    width: 129px;
    height: 194px;
}

#front_profile2-view div:nth-child(5) { /* panel bottom center */
    top: 172px;
    left: 202px;
    width: 146px;
    height: 104px;
}

#front_profile2-view div:nth-child(6) { /* panel bottom right */
    top: 163px;
    left: 303px;
    width: 110.5px;
    height: 97.5px;
}

#front_profile2-view div:nth-child(7) { /* side left */
    top: 81px;
    left: 1px;
    width: 141px;
    height: 207.5px;
}

#front_profile2-view div:nth-child(8) { /* side right */
    display: none;
}

#front_profile2-view div:nth-child(9) { /* extension */
    top: 17px;
    left: 0px;
    width: 414.5px;
    height: 82.5px;
}

#front_profile2-view div:nth-child(10) { /* straps top */
    top: 8px;
    left: 91px;
    width: 317px;
    height: 164px;
}

#front_profile2-view div:nth-child(11) { /* straps bottom */
    top: 151px;
    left: 29px;
    width: 388.5px;
    height: 146.5px;
}

#front_profile2-view div:nth-child(12) { /* accents */
    top: 0px;
    left: 27px;
    width: 398px;
    height: 188.5px;
}